<h1>Devour the Burgers!</h1>

<h2>Burgers to Devour</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devour=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Devoured</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devour=false}}
  {{/if}}
  {{/each}}
</ul>

<h2> Add a Burger to Devour</h2>

<form class="create-form">

  <div class="form-group">
    <label for="ca" id="burger-name">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
    <label for="burgers" class="select-craving">Select Craving or Devoured</label><br>
    <input type="radio" name="devoured" value="1" class="select-craving" checked> Devoured! <br>
    <input type="radio" name="devoured" value="0" class="select-craving"> Craving!
    <div>
      <button type="submit" id="burger-btn">Add Burger</button>
    </div>
  </div>
</form>