

* {
  background-color: #32442d;
  /* text-align: center; */
}
/* header */
h1 {
  font-family: 'Ranchers', cursive;  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #10b826;
  font-size: 48pt;
  text-align: center;
}

/* sub heading  */
h2 {
  font-family: 'Ranchers', cursive;  color: #13b8ca;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 33pt;
  background-color: #32442d;
  text-align: center;


}
body {
  background-color: #32442d;
}
ul {
  margin-left: 50px;
  color: #d1d646;
  list-style-type: none;
  padding: 0; 
  margin: 0; 
  text-align: center;

}

li {
  margin-left: 50px;
  text-align: center;

}

#ca {
  margin-left: 50px;
  background-color: lightgreen;
  border-radius: 4px;
  padding: 10px;
  width: 300px;

  text-align: center;
  font-size: 14pt;
}


.change-eat {
  font-size: 14pt;
  padding: 5pt;
  margin: 10pt;
  background-color: green;
  text-align: center;
  font-family: 'Ranchers', cursive;  border-radius: 8px;
}

/* delete burger button  */
.delete-burger {
  font-size: 12pt;
  padding: 7pt;
  margin: 10pt;
  margin-left: 20pt;
  color: black;
  background-color: red;
  font-style: italic;
  text-align: center;

}

/* form with radial choices and input */
.form-group {
  margin-left: 50px;
  color: #27830b;
  padding: 15px;
  text-align: center;

  font-size: 18pt;
  font-family: 'Ranchers', cursive;  margin-bottom: 7px;
}

/* Burger name: text  */
#burger-name {
  font-size: 24pt;
  text-align: center;

}

/* add burger button */
#burger-btn {
  align-self: center;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  color: black;
  font-size: 18pt;
  font-family: 'Ranchers', cursive;  padding: 10px;
  border-radius: 8px;
  background-color: #80ced7;
}

.form-group {
  align-content: center;

}
